.env
/venv
/logs
/data
/server/__pycache__
/client/__pycache__
*.pyc
*.pyo

/server/z_generating_pickle.py
/server/z_test.py
/server/logger.py



/client/gesture_camera.py
/client/gesture_control.py
/client/uploads

